openapi: 3.0.0
info:
  title: CPFHub.io API
  version: 1.0.0
  description: Official OpenAPI specification for CPFHub.io API. Retrieve identity data from a Brazilian CPF number.
servers:
  - url: https://api.cpfhub.io
paths:
  /cpf/{cpf_number}:
    get:
      summary: Retrieve identity data from CPF
      operationId: get_person_by_cpf
      description: Retrieve identity data (name, gender, birth date) from a Brazilian CPF number.
      parameters:
        - in: path
          name: cpf_number
          schema:
            type: string
            pattern: "^\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}$"
          required: true
          description: Brazilian CPF number (11 digits). Format can be XXX.XXX.XXX-XX or XXXXXXXXXXX.
          example: "123.456.789-00"
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: Your API key for authentication.
      responses:
        '200':
          description: Successful lookup, identity data returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates if the lookup was successful.
                    example: true
                  data:
                    type: object
                    properties:
                      cpf:
                        type: string
                        description: The queried CPF number.
                        example: "12345678900"
                      name:
                        type: string
                        description: Full name of the person.
                        example: "Fulano de Tal"
                      nameUpper:
                        type: string
                        description: Full name in uppercase.
                        example: "FULANO DE TAL"
                      gender:
                        type: string
                        description: Gender (M/F).
                        example: "M"
                      birthDate:
                        type: string
                        description: Date of birth (DD/MM/YYYY).
                        example: "15/06/1990"
                      day:
                        type: number
                        description: Day of birth.
                        example: 15
                      month:
                        type: number
                        description: Month of birth.
                        example: 6
                      year:
                        type: number
                        description: Year of birth.
                        example: 1990
        '401':
          description: Unauthorized - Invalid API Key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized - Invalid API Key"
        '404':
          description: CPF not found or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "CPF not found or invalid"
